<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ahmadnazir - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax-highlight-default.css" />
         <link rel="stylesheet" type="text/css" href='//fonts.googleapis.com/css?family=Merriweather:900italic,900,700italic,400italic,700,400,300italic,300' />
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
        <div class="header">

            <div class="content">
                <div class="title">
                    <a href= $if(posts)$ "#" $else$ "/" $endif$>(map reflect shtuff)</a>
                    <div class="sub-title">
                        &nbsp;=> ramblings by Ahmad Nazir
                    </div>
                </div>

                <div class="links">
                    <a href= $if(about)$ "#" $else$ "/about.html" $endif$>(about)</a>
                </div>
            </div>

        </div>

        <!-- <div class="eval">
             =>
             </div> -->


        <div id="content" class="content">
            <div class="after-header">
                $body$
            </div>
        </div>


        <div class="footer">
                <div class="links">
                    <!-- <a href="/archive.html">Archive</a> -->

                    <a href="https://github.com/ahmadnazir" target="_blank">
                        <i class="fab fa-2x fa-github-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/ahmad-raja-052a3a3" target="_blank">
                        <i class="fab fa-2x fa-linkedin"></i>
                    </a>
                    <a href="https://twitter.com/ahmadnazir" target="_blank">
                        <i class="fab fa-2x fa-twitter-square"></i>
                    </a>
                    <a href="mailto:ahmadnazir@gmail.com">
                        <i class="fas fa-2x fa-envelope-square"></i>
                    </a>
                </div>
            <!-- Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a> -->
        </div>
    </body>
</html>
