<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>ahmadnazir - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
        <div class="header">

            <div class="title">
            $if(posts)$
            <a href="#">
                ahmadnazir.github.io
            </a>
            $else$
            <a href="/">
                ahmadnazir.github.io
            </a>
            $endif$
            </div>


            &nbsp;
            &nbsp;
            &nbsp;


            <!-- <a href="/archive.html">Archive</a> -->

            <i class="fas fa-2x fa-chevron-left"></i>

            <a href="https://github.com/ahmadnazir" target="_blank">
                <i class="fab fa-2x fa-github-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/ahmad-raja-052a3a3" target="_blank">
                <i class="fab fa-2x fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/ahmadnazir" target="_blank">
                <i class="fab fa-2x fa-twitter-square"></i>
            </a>
            <a href="mailto:ahmadnazir@gmail.com">
                <i class="fas fa-2x fa-envelope-square"></i>
            </a>
            <i class="fas fa-2x fa-chevron-right"></i>

            &nbsp;
            &nbsp;
            &nbsp;

            $if(about)$
            <a href="#">
                <i class="fas fa-2x fa-question"></i>
            </a>
            $else$
            <a href="/about.html">
                <i class="fas fa-2x fa-question"></i>
            </a>
            $endif$

        </div>

        <div id="content" class="content">
            <!-- <h1>$title$</h1> -->

            $body$
        </div>
        <div class="footer">
            <!-- Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a> -->
        </div>

        <br/>
        <br/>
        <br/>

    </body>
</html>
