/// Small Breakpoint for Media Queries
/// Mobile Size (~400px)
/// @group breakpoints
$break-xsmall: 380px;
$breakpoint-xsmall: "screen and (min-width: #{$break-xsmall})";

/// Small Breakpoint for Media Queries
/// Mobile Size (~400px)
/// @group breakpoints
$break-small:  480px;
$breakpoint-small: "screen and (min-width: #{$break-small})";

/// Medium Breakpoint for Media Queries
/// Tablet Size (~600px)
/// @group breakpoints
$break-medium: 768px;
$breakpoint-medium: "screen and (min-width: #{$break-medium})";

/// Large Breakpoint for Media Queries
/// Desktop Size (~1400px)
/// @group breakpoints
$break-large:  1200px;
$breakpoint-large: "screen and (min-width: #{$break-large})";

$dark        : rgba(50,50,50,1);
$secondDark  : rgba(204,204,204,1);
$light       : rgba(255,255,255,2);
/* $tinge       : rgb(255, 125, 50); */
$transparent : rgba(0,0,0,0);
$contentWidth: 780px;

* {
    color       : $dark;
    font-family : Verdana, Arial, sans-serif;
    margin      : 0px 0px;
}

/* Inline Tags */
p code {
    font-family   : monospace;
    background    : #FFF;
    padding       : 1px 5px;
    color         : #666;
    border-radius : 4px;
    border        : 1px solid #ddd;
}

/* Code Blocks */
pre {
    padding       : 8px 10px;
    border        : 1px solid #ccc;
    border-radius : 4px;
    background    : #fff;
    margin        : 0px 0px 20px 0px;
    overflow-x: auto;

    code {
        font-family : monospace;
        background  : none;
    }

}

.header {
    border-bottom : solid 3px $dark;
    padding       : 15px 0px 10px 0px;
    text-align    : center;

    @media #{$breakpoint-small} {
        text-align    : left;
    }

    a {
        text-decoration : none;
        margin : 3px;
    }

    /* .brand { */
    /* } */

    .links {
        display: none;

        @media #{$breakpoint-small} {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.title {
    font-weight: bold;
    display: inline;
    font-size : 24px;
}

.content {
    margin: 0 auto;
    line-height : 1.5;
    width       : 90%;
    max-width: $contentWidth;
    position: relative;
}

body {
    width: 100%;
}


/* .footer a:hover { */
/*     -webkit-transition : color 0.4s ease; */
/*     -moz-transition    : color 0.4s ease; */
/*     -o-transition      : color 0.4s ease; */
/*     -ms-transition     : color 0.4s ease; */
/*     transition         : color 0.4s ease; */
/* } */

h1 {
    font-size : 24px;
    margin    : 15px 0px 15px 0px;
}

h2 {
    font-size : 20px;
    margin    : 15px 0px 15px 0px;
}

div.info {
    color      : #555;
    font-size  : 14px;
    font-style : bold;
}

img {
    border : 5px solid $dark;
}

p {
    margin : 15px 0px 15px 0px;
}

/* LISTS */

.ul {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
}

.li {
  border-bottom : 1px solid $secondDark;
  padding       : 10px;
  &:last-child {
      border : none;
  }
  a {
      text-decoration : none;
  }
}

/* FONT AWESOME */

// HACK
svg.svg-inline--fa.fa-chevron-right.fa-w-10.fa-2x path{
    color: $secondDark;
}
svg.svg-inline--fa.fa-chevron-left.fa-w-10.fa-2x path{
    color: $secondDark;
}
