$dark        : rgba(50,50,50,1);
$secondDark  : rgba(204,204,204,1);
/* $light       : rgba(240,240,240,2); */
$light       : rgba(255,255,255,2);
$tinge       : rgb(255, 125, 50);
$transparent : rgba(0,0,0,0);

* {
    color       : $dark;
    background  : $light;
    font-family : Verdana, Arial, sans-serif;
    margin      : 0px 0px;
}

/* Inline Tags */
p code {
    font-family   : monospace;
    background    : #FFF;
    padding       : 1px 5px;
    color         : #666;
    border-radius : 4px;
    border        : 1px solid #ddd;
}

/* Code Blocks */
pre {
    padding       : 8px 10px;
    border        : 1px solid #ccc;
    border-radius : 4px;
    background    : #fff;
    margin        : 0px 0px 20px 0px;
    /* overflow-x: scroll; */

    code {
        font-family : monospace;
        background  : none;
    }
}

.header {
    height        : 40px;
    width         : 100%;
    background    : $light;
    border-bottom : solid 3px $dark;
    margin-bottom : 30px;
    padding       : 15px 0px 10px 0px;
    text-align    : center;
    top           : -1px;
    position      : fixed;

    a {
        text-decoration : none;
        margin : 3px;
    }
}

.title {
    font-weight: bold;
    display: inline;
    font-size : 24px;
}

.content {
    margin      : 80px auto 0px auto;
    width       : 700px;
    line-height : 1.5;
}

/* @media not screen and (min-width: 600px) { */
/*   &.header { */
/*     visibility: hidden; */
/*   } */
/*   &.content { */
/*     margin : 0px auto 0px auto; */
/*   } */
/* } */

// HACK
svg.svg-inline--fa.fa-chevron-right.fa-w-10.fa-2x path{
    color: $secondDark;
}
svg.svg-inline--fa.fa-chevron-left.fa-w-10.fa-2x path{
    color: $secondDark;
}

/* .footer a:hover { */
/*     -webkit-transition : color 0.4s ease; */
/*     -moz-transition    : color 0.4s ease; */
/*     -o-transition      : color 0.4s ease; */
/*     -ms-transition     : color 0.4s ease; */
/*     transition         : color 0.4s ease; */
/* } */

h1 {
    font-size : 24px;
    margin    : 15px 0px 15px 0px;
}

h2 {
    font-size : 20px;
    margin    : 15px 0px 15px 0px;
}

div.info {
    color      : #555;
    font-size  : 14px;
    font-style : bold;
}

img {
    border : 5px solid $dark;
}

p {
    margin : 15px 0px 15px 0px;
}

/* LISTS */

.ul {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
}

.li {
  border-bottom : 1px solid #ccc;
  padding       : 10px;
  &:last-child {
      border : none;
  }
  a {
      text-decoration : none;
  }
}



/* FONT AWESOME */

/* .fa-inverse { */
/*     &.fa-file-text-o , */
/*     &.fa-info-circle , */
/*     &.fa-github      , */
/*     &.fa-twitter     , */
/*     &.fa-envelope-o { */
/*         color      : $tinge; */
/*         background : $dark; */
/*     } */
/* } */
