* {
    color: rgba(50,50,50,1); /* $foregroundColor */
    background: rgba(240,240,240,1); /* $backgroundColor */
    font-family: Verdana, Arial, sans-serif;
    margin:0px 0px;
}

/* Inline Tags */
p code {
    font-family: courier;
    background: #FFF;
    padding: 1px 5px;
    color: #666;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Code Blocks */
pre {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    /* overflow-x: scroll; */
}

/* Remove background from text inside code block */
pre code {
    font-family: courier;
    background: none;
}

.content {
    /* color: black; */
    margin: 0px auto 0px auto;
    width: 700px;
    line-height: 1.5;
}

.header {
    width: 100%;
    background: rgba(50,50,50,1); /* $foregroundColor */
    border-bottom: solid 3px rgb(255, 125, 50); /* $contrastColor */
    margin-bottom: 30px;
    padding: 9px 0px 9px 0px;
    text-align: center;
    font-size: 18px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */

    top: -1px;
    position: fixed;
}

.header a {
    text-decoration: none;
    background: rgba(0,0,0,0); /* $foregroundColor */
    color: rgb(255, 125, 50); /* $contrastColor */
    /* color: rgba(240,240,240,1); /\* $backgroundColor *\/ */
    padding: 10px;
}

div.header > a.active {
    /* background: rgb(255, 125, 50); /\* $contrastColor *\/ */
    /* color: rgba(50,50,50,1); /\* $foregroundColor *\/ */
    .active:before {
        content: 'test';
    }
}


.footer {
    color: #555;
    font-size: 10px;
    width: 100%;
    background: rgba(50,50,50,1); /* $foregroundColor */
    border-top: solid 3px rgb(255, 125, 50); /* $contrastColor */
    padding: 9px 0px 9px 0px;
    text-align: center;
    vertical-align: text-center;
    bottom: -1px;
    position: fixed;
}

.footer a {
    text-decoration: none;
    background: rgba(0,0,0,0); /* $foregroundColor */
    color: rgba(240,240,240,1); /* $backgroundColor */
    padding: 10px;
    font-weight: bold;

}

.footer a:hover {
    color: rgb(255, 125, 50); /* $contrastColor */
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    transition: color 0.4s ease;

}

h1 {
    font-size: 24px;
    margin: 15px 0px 15px 0px;
}

h2 {
    font-size: 20px;
    margin: 15px 0px 15px 0px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: bold;
}

img { 
    border: 5px solid rgba(50,50,50,1);
}

p {
    margin: 15px 0px 15px 0px;
}

/* LISTS */

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  /* font: 200 20px/1.5 Helvetica, Verdana, sans-serif; */
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.li:last-child {
  border: none;
}

.li a {
  text-decoration: none;
}

/* FONT AWESOME */

.fa-github.fa-inverse{
    color: rgb(255, 125, 50); /* $contrastColor */
    background: rgba(50,50,50,1); /* $foregroundColor */
}
.fa-envelope-o.fa-inverse{
    color: rgb(255, 125, 50); /* $contrastColor */
    background: rgba(50,50,50,1); /* $foregroundColor */

}
.fa-twitter.fa-inverse{
    color: rgb(255, 125, 50); /* $contrastColor */
    background: rgba(50,50,50,1); /* $foregroundColor */
}
.fa-info-circle.fa-inverse{
    color: rgb(255, 125, 50); /* $contrastColor */
    background: rgba(50,50,50,1); /* $foregroundColor */
}
.fa-file-text-o.fa-inverse{
    color: rgb(255, 125, 50); /* $contrastColor */
    background: rgba(50,50,50,1); /* $foregroundColor */
}